<section class="hero is-info is-medium is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="media">
        <div class="media-left">
          <figure class="image is-128x128">
            <img src="/assets/img/logo.png" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <h1 class="title">Username</h1>
          <h2 class="subtitle">User status</h2>
        </div>
      </div>
    </div>
  </div>
</section>
