<nav class="navbar">
  <section class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/assets/img/logo.png" width="28" height="28">
      <h1 class="title">Facenote</h1>
    </a>

    <a role="button" class="navbar-burger burger">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </section>

  <section class="navbar-menu">
    <section class="navbar-start">
      <a class="navbar-item" href="#">Mis historietas</a>
      <a class="navbar-item" href="#">Mis cosas</a>
      <a class="navbar-item" href="#">Mis colegas</a>
      <a class="navbar-item" href="#">Eventos</a>
    </section>
  </section>
</nav>
